<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>เลือกแถว</title>
</head>
<body>
    <h1>เลือกแถว</h1>
    <form method="POST">
        <label for="selected_row">เลือกแถว:</label>
        <select name="selected_row" id="selected_row">
            <option value="">-- เลือกค่าทั้งหมด --</option>
            {% for row in data %}
                <option value="{{ loop.index0 }}">{{ row['สถาบัน'] }} - {{ row['วิทยาเขต'] }} - {{ row['คณะ/สำนักวิชา'] }}- {{ row['ชื่อหลักสูตร']}}- {% if row['รายละเอียด'] == 0 %} {% else %}{{ row['รายละเอียด'] }}{% endif %}</option>
            {% endfor %}
        </select>
        <input type="submit" value="เพิ่มสถาบัน" >
        <input type="submit" name="finish" value="เสร็จสิ้น" >
    </form>
    

    <!-- เพิ่มตารางแสดงรายการที่ถูกเลือก -->
{% if selected_row %}
<h2>รายการที่เลือก</h2>
<ul>
    {% for row in selected_row %}
    <li>{{ row }}</li>
    {% endfor %}
</ul>
{% endif %}

    
    

    


    {% if selected_data %}
    <h2>ข้อมูลที่เลือก</h2>
    <table>
        <tr>
            <th>สถาบัน</th>
            <th>วิทยาเขต</th>
            <th>คณะ/สำนักวิชา</th>
            <th>ชื่อหลักสูตร</th>
            <th>รายละเอียด</th>
            <th>Language</th>
            <th>Thinking</th>
            <th>Arts and Society</th>
            <th>Science</th>
            <th>Mathematics</th>
            <th>General</th>
        </tr>
        <tr>
            <td>{{ selected_data['สถาบัน'] }}</td>
            <td>{{ selected_data['วิทยาเขต'] }}</td>
            <td>{{ selected_data['คณะ/สำนักวิชา'] }}</td>
            <td>{{ selected_data['ชื่อหลักสูตร'] }}</td>
            <td>{% if selected_data['รายละเอียด'] == 0 %} {% else %}{{ selected_data['รายละเอียด'] }}{% endif %}</td>
            <td>{{ selected_data['Language'] }}</td>
            <td>{{ selected_data['Thinking'] }}</td>
            <td>{{ selected_data['Arts and Society'] }}</td>
            <td>{{ selected_data['Science'] }}</td>
            <td>{{ selected_data['Mathematics'] }}</td>
            <td>{{ selected_data['General'] }}</td>
        </tr>
    </table>
    {% endif %}
</body>
</html>
